#contact_form{
    border: 1px solid rgb(224, 219, 219);
    padding: 2rem;
    margin-top: 1.2rem;
    box-shadow: 0 0 4px rgb(104, 98, 98);
    margin-bottom: 3rem;
}

.form-width {
    width: 16rem;
    height: 2.5rem;
    border: 1px solid rgb(211, 197, 197);
    padding: 1rem;
    border-radius: 4px;
}
